body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.container{
    display: flex;
    justify-content: space-between;
    /* margin-right: -50px; */
    /* flex-direction: row-reverse; */
    /* height: 500px; */
    /* align-items: stretch; */
    flex-wrap: wrap;
}




.container div{
    background-color: cadetblue;
    border: 2px solid white;
    padding: 10px;
    box-sizing: border-box;
    width: calc(1/3*100%-(1-1/3)*30px);
    /* width: 20%; */
    /* margin-right: 50px; */
}

.item-1{
    /* order:2 */
    /* flex: 2; */

}

.item-2{
    /* order: 3; */
    /* flex: 1; */

}

.item-3{
    /* order: 1; */
    /* flex: 1; */

}

@media(max-width:1024px){
    .container div{
        width: calc(1/2*100% - (1-1/3)*30px);
    }
}

@media(max-width:640px){
    .container{
        flex-direction: column;
    }
}